/* Here goes your CSS */
img.resize-medium{
  width: 100px;
  height: auto;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 100;
  background-color: #EBEBEB;
  text-align: center;
  color: #7D7D7D;
}

h1{
  color: #DD5555;
  font-size: 25px;
  font-family: 'Montserrat';
  font-weight: 700;
}

h2{
  color: #8D8D8D;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
}

h3{
  color: #DD5555;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 400;
}

a{
  text-decoration: none;
  color: #7D7D7D;
  font-weight: 100;
}

.card{
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 1150px;
  margin: 25px auto;
  padding: 20px 20px 20px 20px;
  box-shadow: 0.5px 0.5px 1px #7D7D7D;
}

.img-circle {
  border-radius: 50%;
}

.grey-border{
  border: 5px solid #D4D4D4;
}

.button-red{
  background-color: #DD5555;
  color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  font-weight: 400;
}

.button-red:hover{
  background-color: #C61414;
}

.text-center{
  text-align: center;
}

.centered-table{
  margin: 25px auto;
}

.padded{
  padding: 0px 20px 0px 20px;
}

.fully-padded li{
  padding: 20px 40px 20px 0;
}

.padded td{
  padding: 10px 20px 10px 20px;
}

a:hover{
  color: #C61414;
}

.text-style-small{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.text-style-Montserrat{
  font-family: 'Montserrat'
}

.list-inline{
  padding-left: 0;
}

.list-inline li {
    display: inline-block;
    padding: 20px;
}

#sidebar {
  position: fixed;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #384047;
}

#page-content {
  margin-left: 120px;
}

ul
{
list-style-type: none;
}


