#sidebar {
  position: fixed;
  width: 90px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(14, 19, 22);
}

#page-content-header {
  margin-left: 80px;
}

#page-content {
  margin-left: 90px;
}
